@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Manrope';
    src: url('/fonts/Manrope-VariableFont_wght.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

main {
  @apply font-manrope;
}
